

body{
    background: linear-gradient(to bottom right, #121212, #343434, #121212);
    color: #F5B82E;    color: #FFFFFF;    color: #121212;
    padding: 2rem 4rem;
    overflow-x: hidden;

    
}


header { 
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #0000001a;
    box-sizing: content-box;
    border: 1px solid rgb(255, 255, 255);
    border-left: none;
    border-right: none;
    
    
 }

 nav { 
    display: flex; 
    justify-content: space-between; 
    align-items: right; 
    margin-right: 3rem;

}
.nav-links { 
    list-style: none;
    display: flex; 
    margin-left: auto;
    gap: 6rem; 
}

.nav-links li a { 
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;

}



 .banner{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    /* background-color: #6f6f6f; */
    border-radius: 12px;
 }

 .me-container{
    /* background-color: bisque; */
 }

 .me-img{
    width: 400px;             /* container width */
    height: 600px;            /* container height */
    overflow: hidden;         /* hides overflowing content */
    margin-top: 2rem;


    


}

.me-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
    

}






/* .title1{ */
    /* background: linear-gradient(to left, #F5B82E, #8C5A00); yellow to deep amber */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* background-clip: text; */
    /* color: transparent; */
/* } */


.me-content{
    font-family: 'Orbitron', sans-serif;
    position: sticky;
    font-size: 64px;
    color: #F5B82E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 1rem;
    margin-left: 1rem; */
    /* height: 60px;
    width: 230px; */
    /* border: 2px solid #a4c8ec; */
    /* border-radius: 12px; */
    /* background-color: #555; */
    /* box-shadow: 0 6px 4px rgba(0, 0, 0, 0.15); */
}
.blurb-content{
    font-family: 'Rajdhani', sans-serif;
    position: sticky;
    /* padding: 12px; */
    font-size: 24px;
    color: #F5B82E;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    margin-top: -44px;
    /* margin-left: 1rem; */
    height: 140px;
    width: 500px;
    /* border: 2px solid #a4c8ec;
    border-radius: 12px;
    background-color: #555;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.15); */
    justify-content: center;
    align-items: center;
    /* text-align: center; */


}



.banner2{
    width: 100%;
    max-width: 100%;
    /* margin: 2rem 0;
    padding: 1rem; */
    position: sticky;
    justify-content: center;
    align-items: center;
    /* height: 460px; */
    /* width: 1335px; */
    /* background-color: #6f6f6f; */
    border-radius: 12px;
    font-size: 22px;
    margin-top: 22rem;
    /* text-align: center; */
}

.grid3byx{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-area: 2rem;
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;

}


.grid-blocks{
    background: #bb2121;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.banner2-text{
    color: azure;
}


.proj-title{
    margin-top: -1rem;
    color: #354aa9;
}


.proj-text{
    color: aqua;
}


.proj-img{
    width: auto;             
    height: auto;           
    overflow: hidden;  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;

}

.proj-img img{
    width: auto;
    height: auto;
    object-fit: cover;
    /* display: block; */
    border-radius: 12px;
    
}

/* .proj-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}

.proj-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
} */

.grid-links img{
    display: block;               
    width: 100%;                 
    height: 100%;
    transition: 
      transform 0.3s ease,       
      box-shadow 0.3s ease,      
      filter 0.3s ease;   
}

.grid-links:hover img {
    transform: scale(1.01);               
    /* box-shadow: 0 8px 20px rgba(0,0,0,0.3);  */
    filter: brightness(1.1);              
  }

.grid-footer-links img{
    margin: auto;
    padding: 1rem;
    display: block;               
    width: 10%;                 
    height: 10%;
    transition: 
      transform 0.3s ease,       
      box-shadow 0.3s ease,      
      filter 0.3s ease;   
}

.grid-footer-links:hover img {
    transform: scale(1.01);               
    /* box-shadow: 0 8px 20px rgba(0,0,0,0.3);  */
    filter: brightness(1.1);              
  }






  @media (max-width: 768px) {
    .grid3byx {
        grid-template-columns: 1fr;
    }
}